﻿@{
    ViewBag.Title = "Authentication Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">You are not authorised to access this application.</h2>
</hgroup>