﻿@model CloudMedia.Remote.Cloud.Web.UI.Models.HomeModel
@{
    ViewBag.Title = "Welcome " + ViewBag.Authorization.FullName;
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            @Model.WelcomeMessage
        </p>
    </div>

</section>

 
}
