﻿@model CloudMedia.Remote.Cloud.Web.UI.Models.GuideModel
@{
    ViewBag.Title = "Television Guide";
}
@section featured {
    <section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
     
    </div>

</section>

 
}

@if(!string.IsNullOrEmpty(Model.StatusMessage))
{
     <p>
        <span class="label">Response:</span>
        <span>@Model.StatusMessage</span>
    </p>
}

@Html.ActionLink("Record Show", "Record", new { @class = "ui-button" })


