﻿@model CloudMedia.Remote.Cloud.Web.UI.Models.StatisticsModel
@{
    ViewBag.Title = "Media Centre Statistics";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<section class="contact">
    <header>
        <h3>Operating System:</h3>
    </header>
    <p>
        <span class="label">Machine Name:</span>
        <span>@Model.MachineName</span>
    </p>
    <p>
        <span class="label">Media Centre Version:</span>
        <span>@Model.OperatingSystemVersion</span>
    </p>
    <p>
        <span class="label">Media Centre Uptime:</span>
        <span>@Model.Uptime</span>
    </p>

     <p>
        <span class="label">System Date:</span>
        <span>@Model.SystemDate</span>
    </p>

     <p>
        <span class="label">External IP:</span>
        <span>@Model.ExternalIP</span>
    </p>

    <header>
        <h3>Hardware:</h3>
    </header>
    <p>
        <span class="label">Processor Count:</span>
        <span>@Model.ProcessorCount</span>
    </p>
 
   <p>
        <span class="label">System Page Size:</span>
        <span>@Model.SystemPageSize</span>
    </p>
 
    <header>
        <h3>User:</h3>
          <p>
        <span class="label">Logged on User:</span>
        <span>@Model.LoggedOnUser</span>
    </p>
  
    </header>
  

</section>
<p class="message-info">
    Refresh data from the media centre.
</p>
@Html.ActionLink("Retrieve Statistics", "Index", new { @class = "ui-button" })
