﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Windows Media Remote Control</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/AjaxLogin.js")" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("remote media control", "Index", "Guide")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LogOnPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>  
                                                     
                            @if (ViewBag.Authorization != null && (ViewBag.Authorization.IsAdministrator || ViewBag.Authorization.IsReader))
                            {
                                <li>@Html.ActionLink("Media Centre Statistics", "Index", "Statistics")</li>
                                <li>@Html.ActionLink("Television Guide", "Index", "Guide")</li>
                            }                            
                            <li>@Html.ActionLink("About", "About", "Guide")</li>                           
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Windows Media Centre Remote Control</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://twitter.com/simonrhart" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
</body>
</html>
