﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">It appears the relay service to deliver the content you are requesting is not available at the moment. This could
    be due to the Media Center machine is not running. Please try again later.</h2>
</hgroup>
